* {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#bodyLogin, #bodyRegister {
  background-image: url('/images/moritz-kindler-gD8IO0E4OZM-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  width: 100%;
  display: flex;
  justify-content: start;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.author {
  display: flex;
  justify-content: left;
  margin-left: 4px;
  margin-right: 4px;
}

.title {
  display: flex;
  margin-left: 40px;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
}

.navlink {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.inputs-and-labels {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 40px;
}

.input-field {
  max-width: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.register, .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid;
  border-color: #b8b8b8;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

.register-or-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

.login-or-register {
  padding-top: 10px;
  min-height: 40;
}

.guest {
  padding-bottom: 25px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  max-width: 100px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
